<div class="create-entry">
  <h2>Be the first to add an entry!</h2>
  <p class="explainer-text">
    Add a short description (name, product, place etc.) and a link which you think is the best resource for these keywords. Help others to get the best and eliminate the agony of choice in the age of information overload.
  </p>
  <%= simple_form_for Entry.new do |f| %>
    <%= f.hidden_field :current_keywords, value: @current_keywords %>
    <%= f.input :description,
                label: "DESCRIPTION",
                label_html: { class: "form-label" },
                input_html: { class: "input-description", rows: 1, maxlength: 50, value: params[:description] } %>
    <%= f.input :url,
                label: "URL",
                label_html: { class: "form-label" },
                input_html: { class: "input-url", rows: 1, value: params[:url] } %>
    <% if user_signed_in? %>
      <%= f.button :submit, "CREATE ENTRY", class: "btn btn-primary" %>
      <% if !@own_request_entry.nil? %>
        <button_tag class="btn btn-status">ENTRY REQUESTED (<%= @request_entries.count %>)</button>
      <% else %>
        &nbsp;&nbsp;or&nbsp;&nbsp;
        <% if !@request_entries.nil? %>
          <%= f.button :submit, "REQUEST AN ENTRY (#{@request_entries.count})", class: "btn btn-primary" %>
        <% else %>
          <%= f.button :submit, "REQUEST AN ENTRY", class: "btn btn-primary" %>
        <% end %>
      <% end %>
    <% else %>
      <p class="explainer-text">
        Please <%= link_to "login", "#login", data: { toggle: "modal" } %> or <%= link_to "sign up", "#sign_up", data: { toggle: "modal" } %> to create an entry or go <%= link_to "back", "#", id: "new-entry-cancel-btn" %>.
      </p>
    <% end %>
  <% end %>
</div>