<div class="row">
  <%= render "layouts/title_bar" %>
</div>
<div class="row">
  <div class="col-md-4">
    <%= render "search_keyword" %>
  </div>
  <div class="col-md-8">
    <%= render "layouts/flash_messages" %>
    <% if @current_keywords[0].nil? %>
      <h2 class="no-keywords">The Remedy for Information Overload</h2>
    <% else %>
      <%= render "show_keywords" %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-8">
    <% if @current_keywords[0].nil? %>
      <p class="explainer-text">
        Instead of wasting time going through tons of search results, find the best resources for any given set of keywords. Crowdsourced and validated by people. Human Power! Find and discover what others sourced as the best on the Internet or contribute and let the community know what you know.
      </p>
      <p class="explainer-text">
        Start with entering a keyword in the upper left input field. Have fun!
      </p>
    <% else %>
      <% if @existing_krake.nil? %>
        <%= render "create_entry" %>
      <% else %>
        <% if !@approved_entry.nil? %>
          <%= render "show_approved_entry" %>
        <% else %>
          <% if !@best_entry.nil? %>
            <%= render "show_best_entry" %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>