<div class="row">
  <div class="col-md-12">
    <h2>Keywords</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <%= form_tag keywords_path, method: :get do |f| %>
      <%= text_field_tag :k1, params[:k1] %>
      <%= hidden_field_tag :k2, params[:k2] %>
      <%= hidden_field_tag :k3, params[:k3] %>
      <%= hidden_field_tag :k4, params[:k4] %>
      <%= hidden_field_tag :k5, params[:k5] %>
      <%= submit_tag "Search", name: nil %>
    <% end %>
  </div>
  <div class="col-md-2" id="keyword1">
    Keyword 1
  </div>
  <div class="col-md-2" id="keyword2">
    Keyword 2
  </div>
  <div class="col-md-2" id="keyword3">
    Keyword 3
  </div>
  <div class="col-md-2" id="keyword4">
    Keyword 4
  </div>
  <div class="col-md-2" id="keyword5">
    Keyword 5
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <h5>Related Keywords:</h5>
    <ul>
      <% @keywords.each do |k| %>
        <li><%= k.description %></li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-10">
    Entry
  </div>
</div>