<!DOCTYPE html>
<html>
<head>
  <title>showmethebest.xyz</title>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="container">
  <%= yield %>
  <%= render "layouts/login_modal" %>
  <%= render "layouts/sign_up_modal" %>
</div>
</body>
</html>
